<h1>Albums List</h1>
<h3>Add a new CD:</h3>
<form action='/albums' method='post'>
  <label for='new-album'>Album Title</label>
  <input id='new-album' name='new-album' type='text'>
  <button type='submit'>Add album</button>
</form>
